    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>Fulltime Student in <a href="http://www.kit.edu/">Karlsruhe</a>, part-time working at <a href="https://www.sap.com/">SAP</a> and lately helping others finding their passion for <a href="https://www.instagram.com/p/BVfaWlNBL5c/?taken-by=michaeljdick283">Kettlebell Training</a> :)</p>
                <p>Hurting myself pretty often as a goalkeeper in soccer, I switched gears and became really passionate about strength training and <a href="https://crossfit.com/">Crossfit</a></p>
                <p>Now, I'm just trying to stay fit, healthy and enjoy life :)</p>
                <br/>
              </div>
        </div>
    </section>
